:root{
  --color-text: #1F1534;
  --color-emphasis: #89C5CC;
  --color-paragraph: #7D7987;
  --color-button: #69B99D;
  --color-button-hover: #4ea788;

}

body {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);

  min-height: 100vh;

}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;

  margin-bottom: 3rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  align-items: center;

  margin: 0;
  padding: 0;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

ul li a {
  opacity: 0.5;
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

h1, ul {
  font-family: 'Mulish', sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 49px;
  line-height: 56px;
  color: var(--color-text);

  font-weight: normal;

  width: 480px;
}

h1 span {
  color: var(--color-emphasis);
  font-weight: bold;
}

section p {
  font-size: 14px;
  line-height: 28px;
  color: var(--color-paragraph);
  margin: 40px 0;
}

button {
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  background: var(--color-button);

  border: 0;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 14px 32px 15px;
  gap: 10px;

  cursor: pointer;
}

button:hover {
  background: var(--color-button-hover);
}

footer {
  font-size: 14px;
  line-height: 28px;

  text-align: center;

  margin-top: 80px;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}